footer {
    padding-bottom: 50px;
}

.footer__menu,
.footer__menu--item,
.contacts {
    display: flex;
}

.menu__item {
    margin-right: 63px;
    color: #FFFFFF;
}

.footer__menu {
    margin-left: 115px;
    margin-top: 0px;
    margin-right: 25px;
}

.footer__menu--list {
    display: flex;
    margin-top: 30px;
}

.footer__logo {
    display: inline-block;

    margin-top: 1px;
}

.footer__logo--img {
    margin-top: 30px;
}

.footer__socialmedia--item {
    display: flex;
    margin-top: 11px;
    margin-left: 5px;
}

.footer__socialmedia--list {
    display: flex;
}

.footer__socialmedia {
    margin-right: 45px;
}

.footer__socialmedia--img {}

.footer__contacts {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.footer__contacts--info {
    /* font-family: 'OpenSans'; */
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    color: #9A9A9A;
}

.footer__contacts--phone {
    /* font-family: 'OpenSans'; */
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    color: #FFFFFF;
}