.gamesitems {
    margin-bottom: 60px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
 }

 .gamesitems__img {
     height: 337px;
     width: 459px;
     border-radius: 3px;
 }

 .gamesitems__item {
     display: flex;
     flex-direction: row;
 }

 .gamesitems__item--right {
     margin-left: 30px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

.gamesitems__text {
    /* font-family: 'OpenSans'; */
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    align-items: center;
    color: #303030;
    width: 652px;
}
