.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1141px;
}

.logo, .menu, .menu__item, .contacts {
	display: inline-block;
}

.logo, .contacts {
	margin-top: 29px;
}

.logo {
	float: left;
}

.contacts {
	float: right;
	margin-top: 35px;
	/* font-family: 'OpenSans'; */
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	font-style: normal;
	/* letter-spacing:1px; */
	color: #FFFFFF;
}

.menu__item {
    margin-right: 63px;
	color: #FFFFFF;
}
.menu {
	margin-left: 260px;
	margin-top: 40px;
}

.contacts__phone, .contacts__info {
	color: #FFFFFF;
}


.contacts__info {
	/* font-family: 'OpenSans'; */
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: underline;
	letter-spacing:normal;	
	color: #FFFFFF;
	text-align: right;

}
