.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1141px;
}

.logo, .menu, .menu__item, .contacts {
	display: inline-block;
}

.logo, .contacts {
	margin-top: 29px;
}

.logo {
	float: left;
}

.contacts {
	float: right;
	margin-top: 35px;
}

.menu__item {
    margin-right: 65px;
	color: #FFFFFF;
}
.menu {
	margin-left: 260px;
	margin-top: 40px;
}

.contacts__phone, .contacts__info {
	color: #FFFFFF;
}