 @import url(layout/fonts.css);
 /* ДОБАВИЛ ШРИФТЫ  */

 @import url(layout/base.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ С НАСТРОЙКАМИ ПО УМОЛЧАНИЮ */

 @import url(layout/normalize.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ С НАСТРОЙКАМИ ПО УМОЛЧАНИЮ */

 @import url(blocks/header.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ ХЭДЭРА */

 @import url(blocks/hello.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ ПРИВЕТСТВИЯ */

 @import url(blocks/newsofweek.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ "НОВИНКИ НЕДЕЛИ" */

 @import url(blocks/lastgames.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ "ПРОШЕДШИЕ ИГРЫ" */

 @import url(blocks/aboutus.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ "О НАС" */

 @import url(blocks/footer.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ ФУТЭРА */

 @import url(blocks/hellogames.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ СЕКЦИИ "ИГРЫ-ПРИВЕТСТВИЕ" */

 @import url(blocks/gamesitems.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ СЕКЦИИ "ИГРЫ" */

 @import url(blocks/partners.css);
 /* ПОДКЛЮЧИЛ CSS-ФАЙЛ СО СТИЛЯМИ СЕКЦИИ "ПАРТНЕРЫ" */

