.newsofweek {
    margin-top: 97px;
    width: 1140px;
}

.title--new {
    /* font-family: 'OpenSans'; */
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.newsofweek__list {
    margin-top: 55px;
}

.newsofweek_item {
    width: 362px;
    height: 449px;
    display: inline-block;
    border-radius: 5px;
}

.newsofweek_item:nth-child(2, 3) {
    margin-left: 27px;
}

.newsofweek__content {
    padding-top: 37px;
    padding-left: 22px;
    background-color: #FFFFFF;
}

.newsofweek__title {
    /* font-family: 'OpenSans'; */
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.newsofweek__features {
    margin-top: 17px;
}

.newsofweek__feature--img {
    position: relative;
    top: 5px;
}

.newsofweek__feature--img, .newsofweek__feature--text, .newsofweek__feature{
    display: inline-block;
}

.newsofweek__feature--text {
    /* font-family: 'OpenSans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; 
    color: #666666;
    padding-right: 50px;
}

.newsofweek__text {
    margin-top: 24px;
    margin-bottom: 29px;
    width: 324px;
    /* font-family: 'OpenSans'; */
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
}

.title--new, .newsofweek__img--new {
    display: inline-block;

}

.newsofweek__img--new {
    position: relative;
    top: 9px;
}

.title--new {
    width: max-content;
}

.newsofweek__button {
    margin-bottom: 20px;
    border-radius: 5px;
    height: 55px;
    width: 130px;
    display: inline-block;
    /* font-family: 'OpenSans'; */
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8F00FF;
    text-align:center;
    vertical-align:middle;
    padding-top: 18px;
    border: 1px solid #8F00FF;
}



.button--light {

}

