.newsofweek {
    margin-top: 198px;
    width: 1140px;
}

.title--new {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.newsofweek__list {
    margin-top: 50px;
}

.newsofweek_item {
    width: 362px;
    height: 449px;
    display: inline-block;
}

.newsofweek_item:nth-child(2, 3) {
    margin-left: 27px;
}

.newsofweek__content {
    padding-top: 44px;
    padding-left: 22px;
    background-color: #FFFFFF;
}

.newsofweek__title {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.newsofweek__feature--img, .newsofweek__feature--text, .newsofweek__feature{
    display: inline-block;
}

.newsofweek__feature--text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; 
    color: #666666;
    padding-right: 50px;
}

.newsofweek__text {
    margin-top: 28px;
    margin-bottom: 29px;
    width: 324px;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
}

.title--new, .newsofweek__img--new {
    display: inline-block;

}

.title--new {
    width: max-content;
}

.button--light {

}

