/* .partners {
    display: inline-flex;
} */



.partners {
    margin-top: -60px;
    padding-bottom: 115px;
    flex-direction: column;
    background: #F4F5F5;
}

.partners__title {
    padding-top: 95px;
    padding-bottom: 40px;
    /* font-family: 'Open Sans'; */
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #1A1B1E;
}

.partners__first {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
}

.partners__second {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

footer {
    padding-top: 35px;
}
/* .partners__item:nth-child(5) { */
    /* margin-right: 80px; */ */
/* }

/* .partners__sеcond {
    display: inline-flex;
} */