.choisegame {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 85px;
}

.choisegame__item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    max-width: 557px;
    min-height: 1312px;
}

.choisegame__item--unit {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 17px;
    background: #F4F5F5;
    min-height: 100px;
    border-radius: 5px;
}

.choisegame__item--person{
    display: flex;
    flex-direction: row;

}

.choisegame__item--name {
    margin-left: 38px;
    display: flex;
    flex-direction: column;
}

.choisegame__item--name1 {

    padding-top: 43px;
    font-family: 'OpenSans';
    font-size: 24px;
    line-height: 42px;
    /* identical to box height, or 175% */
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #2E77A4;
}

.choisegame__item--name2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    align-self: flex-start;
    align-items: center;
    color: #303030;

    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #B9EAE4;
    border-radius: 35px;

}

.choisegame__item--text {
    max-width: 495px;
    margin-top: 37px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 27px;
    /* or 169% */
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #818181;
}

.choisegame__item--texttitle {
    font-family: 'Open Sans';
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    /* identical to box height, or 140% */
    display: flex;
    align-items: left;
    color: #1A1B1E;
    padding-bottom: 10px;
}

.choisegame__item--date {
    padding-top: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height, or 193% */
    display: flex;
    align-items: center;
    color: #1A1B1E;
}