.gameforyou {
    margin-top: -70px;
    background: #17191C;
    display: block;
    max-height: 363px;
}

.gameforyou__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gameforyou__title {
    font-family: 'Open Sans';
    font-size: 48px;
    line-height: 56px;
    display: flex;
    /* align-items: flex-end; */
    align-self: center;
    color: #FFFFFF;
}