.hello__main {
    /* margin-top: -50px; */
    position: relative;
    /* min-width: 1920px; */
    /* min-height: 960px; */
    min-width: 100%;
    min-height: 100%;
    background: url('../../img/background__hello.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 1; */
}

.hello__button {
    position: absolute;
    margin:auto;
    top: 50%;
    left: 50%;
    /* z-index: 0; */
}