.hello {
    margin-top: 150px;
    width: 637px;
}

.hello__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    color: #FFFFFF;
}

.hello_subtitle {
    margin-top: 22px;
    margin-bottom: 75px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}

.button__hello {
    /* margin-top: 75px; */
    background: #8F00FF;
    border-radius: 5px;
    height: 55px;
    width: 168px;
    display: table-cell;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;

}