.lastgames {
    /* height: 128px; */
    margin-top: 133px;
}

.lastgames__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.lastgames__item,
.lastgames__item2 {

    display: inline-block;
}

.lastgames__item2 {
    margin-left: 10px;
}

.lastgames__item {
    width: 557px;
    height: 394px;
    background: url("../../img/lastgames/lastgames1.jpg");
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.lastgames__item2 {
    width: 557px;
    height: 394px;
    background: url("../../img/lastgames/lastgames2.jpg");
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.lastgames__item--text {
    margin-top: 254px;
    margin-left: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.lastgames__item--title {
    margin-top: 11px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 36px;
    color: #FFFFFF;
}

.lastgames__navigation--item,
.lastgames__navigation--text {
    display: inline-block;
}

.lastgames__navigation--text {
    margin-right: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-right: 65px;
}



.lastgames__navigation {
    margin-top: 63px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.lastgames__navigation--item {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.lastgames__navigation--button {}

.lastgames__navigation {
    margin-top: 63px;
    padding-bottom: 90px;
    text-align: center;
    /* font-family: 'OpenSans'; */
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.lastgames__navigation--item {
    /* font-family: 'OpenSans'; */
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    padding: 0px 6px;
}

.lastgames__navigation--button {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.lastgames__navigation--button:hover {
    /* font-family: 'OpenSans'; */
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background-color: #8F00FF;
    border-radius: 50%;
    border-width: 0px;
}

.lastgames__navigation--text {
    margin-right: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding-right: 65px;
}
