.leavecomment {
    padding-top: 50px;
    background: #F4F5F5;
}

.input {
    background: #FFFFFF;
    border: 1px solid #8F00FF;
    border-radius: 5px;
    height: 65px;
    width: 557px;
}

.leavecomment__block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leavecomment__title {
    font-family: 'Open Sans';
    font-size: 48px;
    font-weight:700;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #1A1B1E;
    margin-bottom: 50px;
}

.input__clienttext {
    margin-top: 26px;
    background: #FFFFFF;
    border: 1px solid #8F00FF;
    border-radius: 5px;
    height: 235px;
    width: 1142px;
}