.partners {
    margin-top: -66px;
    padding-bottom: 115px;
    flex-direction: column;
    background: #F4F5F5;
}

.partners__title {
    padding-top: 95px;
    padding-bottom: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #1A1B1E;
}

.partners__first {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
}

.partners__second {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

footer {
    padding-top: 35px;
}

.partners__item {
    filter: grayscale(1);
}

.partners__item:hover {
    filter: grayscale(0);
}

.partners__first>.partners__item:nth-child(2) {
    margin-left: -80px;
}

.partners__first>.partners__item:nth-child(3) {
    margin-right: 30px;
}
